@import "wikipedia_styles_dark.css";

/* the logo section at the left side at the top of the French page header */
img.mw-logo-wordmark, img.mw-logo-tagline {
    filter: invert(90%);
}

/* main content of French 'Main_Page' */
#accueil_2017_en-tete {
  background: transparent !important;
  border: 1px solid var(--gray-5);
}
#mw-content-text h2 {
  background: transparent !important;
}

div.accueil_2017_cadre {
  box-shadow: none;
  border: 1px solid var(--gray-5);
}

